openapi: 3.1.0
info:
  title: Cobalt Applications Datastores API
  description: The Cobalt API enables developers to programmatically manage integrations, linked accounts, configurations, events, webhooks, executions, public workflows, and datastores within the Cobalt embedded integration platform. Cobalt helps product and engineering teams build native integrations, deploy them within days, and monetize them with the help of AI agents.
  version: 2.0.0
  contact:
    name: Cobalt Support
    url: https://www.gocobalt.io/
  termsOfService: https://docs.gocobalt.io/governance/terms-of-use
  license:
    name: Proprietary
    url: https://docs.gocobalt.io/governance/terms-of-use
servers:
- url: https://api.gocobalt.io/api/v2
  description: Cobalt Production API
security:
- apiKey: []
tags:
- name: Datastores
  description: Manage datastores and their records.
paths:
  /public/datastore:
    get:
      operationId: listConfigDatastores
      summary: Cobalt Get All Config Datastores
      description: Returns all datastores associated with a configuration.
      tags:
      - Datastores
      parameters:
      - name: linked_account_id
        in: header
        required: true
        schema:
          type: string
        description: The linked account ID.
      responses:
        '200':
          description: List of datastores retrieved successfully.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Datastore'
        '401':
          description: Unauthorized - Invalid API key.
  /public/datastore/{datastore_id}/records:
    get:
      operationId: listDatastoreRecords
      summary: Cobalt List Records in Datastore
      description: Returns all records in a specific datastore.
      tags:
      - Datastores
      parameters:
      - name: datastore_id
        in: path
        required: true
        schema:
          type: string
        description: The datastore ID.
      - name: linked_account_id
        in: header
        required: true
        schema:
          type: string
        description: The linked account ID.
      responses:
        '200':
          description: Datastore records retrieved successfully.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
        '404':
          description: Datastore not found.
        '401':
          description: Unauthorized - Invalid API key.
  /public/datastore/{datastore_id}/search:
    post:
      operationId: searchDatastoreRecords
      summary: Cobalt Search Datastore Records
      description: Searches for records in a specific datastore.
      tags:
      - Datastores
      parameters:
      - name: datastore_id
        in: path
        required: true
        schema:
          type: string
        description: The datastore ID.
      - name: linked_account_id
        in: header
        required: true
        schema:
          type: string
        description: The linked account ID.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                query:
                  type: object
                  description: Search query parameters.
      responses:
        '200':
          description: Search results retrieved successfully.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
        '404':
          description: Datastore not found.
        '401':
          description: Unauthorized - Invalid API key.
components:
  schemas:
    Datastore:
      type: object
      properties:
        _id:
          type: string
          description: Datastore ID.
        name:
          type: string
          description: Datastore name.
        slug:
          type: string
          description: Datastore slug.
        config_id:
          type: string
          description: Associated configuration ID.
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: x-api-key
      description: API key for authentication. Found in Cobalt dashboard under Settings > Developer > Setup tab.
    sessionToken:
      type: apiKey
      in: header
      name: Authorization
      description: Session token generated via the Session Token endpoint.
